@media (max-width: 900px){
	.grid{
		grid-template-rows: 4rem 3rem auto auto auto;
		grid-template-columns: auto;
		grid-template-areas:
		"header"
		"navigation"
		"player"
		"canvas"
		"game";
	}
}
@media (min-width: 900px){
	.grid{
		grid-template-rows: 4rem 3rem auto;
		grid-template-columns: 20rem calc(100% - 40rem) 20rem;
		grid-template-areas:
		"header header header"
		"navigation navigation navigation"
		"player canvas game";
	}
}

.grid {
	display: grid;
}

header {
	grid-area: header;
	font-size: 3rem;
	line-height: 4rem;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: #258;
}

nav {
	grid-area: navigation;
	display: flex;
}

nav button {
	flex-grow: 1;
	flex-basis: 0;
	font-size: 1.5rem;
	background-color: #9ac;
}

#player-area {
	grid-area: player;
	padding: 0.5rem;
}

#game-area {
	grid-area: game;
	padding: 0.5rem;
}

.canvas {
	grid-area: canvas;
	padding-top: 0.5rem;
	text-align: center;
}

canvas {
	display: inline-block;
}

button {
	width: 100%;
	line-height: 2rem;
}