@media (max-width: 900px){
	.grid{
		grid-template-rows: 4rem 4rem auto 3rem auto auto 3rem;
		grid-template-columns: auto;
		grid-template-areas:
		"header"
		"navigation"
		"player"
		"game-top"
		"canvas"
		"game-right"
		"footer";
	}
}
@media (min-width: 900px){
	.grid{
		grid-template-rows: 4rem 4rem 3rem auto 3rem;
		grid-template-columns: 20rem calc(100% - 40rem) 20rem;
		grid-template-areas:
		"header header header"
		"navigation navigation navigation"
		"player game-top game-right"
		"player canvas game-right"
		"footer footer footer";
	}
}

.grid {
	display: grid;
}

header {
	grid-area: header;
	font-size: 3rem;
	line-height: 4rem;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: #258;
}

nav {
	grid-area: navigation;
	display: flex;
}

nav button {
	flex-grow: 1;
	flex-basis: 0;
	font-size: 1.5rem;
	height: 3rem;
	background-color: #78b;
}

#player-area {
	grid-area: player;
	padding: 0.5rem;
}

#game-area-top {
	grid-area: game-top;
	padding: 0.5rem;
	display: flex;
}

#game-area-right {
	grid-area: game-right;
	padding: 0.5rem;
}

.canvas {
	grid-area: canvas;
	text-align: center;
}

canvas {
	display: inline-block;
}

footer {
	grid-area: footer;
	line-height: 3rem;
	text-align: center;
	color: white;
	background-color: #258;
}

footer a {
	margin: 0 0.5rem;
}

button {
	width: 100%;
	line-height: 2rem;
	font-size: 1.2rem;
	height: 2rem;
	background-color: #78b;
	color: white;
	transition: 0.3s ease;
}
button:disabled, button:disabled:hover {
	background-color: #ccc;
	color: #999;
}
button:hover {
	background-color: #89c;
	transition: 0.3s ease;
}

.new-game {
	margin: 0.5rem 0;
}

#game-area-top button {
	margin: 0 0.5rem;
}

#game-area-right button {
	margin-top: 0.5rem;
}

.status-area, .message-line {
	padding: 0.5rem;
	white-space: pre;
}

.rules-area {
	box-sizing: border-box;
	padding: 0.5rem;
	white-space: pre-line;
	overflow: hidden;
	background-color: #eef;
	max-height: 60rem;
	transition: 0.3s ease;
}

.rules-area.hidden {
	max-height: 0;
	padding: 0 0.5rem;
	transition: 0.3s ease;
}

.rules-area img {
	width: 4rem;
	image-rendering: pixelated;
}

input {
	padding: 0 0.2rem;
}

.player {
	display: flex;
	padding: 0.5rem;
}

.player-name {
	width: 7rem;
}

.player-type {
	width: 7rem;
	margin: 0 0.5rem;
}

.player-color {
	width: 4rem;
}